body {
    margin: 0%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 400% 400%;
    background-image: linear-gradient(
          140deg, 
          #e0bbe4 0%, 
          #957dad 30%, 
          #d291bc 51%, 
          #fec8d8 75%,
          #ffdfd3 100%
    );  
    animation: AnimateBG 20s ease infinite;
  }
  
  @keyframes AnimateBG { 
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
  }

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cookies {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.8rem;
    border-radius: 15px;
    background-color: aliceblue;
    color: black;
}

#parse-btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    background-color: aliceblue;
    color: black;
    border: none;
    transition: transform .3s;
}

#parse-btn:hover {
    transform: scale(1.05);
}

#info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
